{% extends "base.html.twig" %}

{# Le block 'title' fait référence au block 'title' déclaré dans le fichier 'base.html.twig', le rendu apparait dans l'onglet du navigateur #}
{% block title %}
    Blog | Home
    {# va écraser le Welcome du fichier base.html.twig  #}
{% endblock %}


{% block body %}

    <h1>Bienvenue sur le blog Symfony (tu es sur la HomePage) 🐱‍🐉</h1>
    {#
        TWIG est un langage de rendu. Avantage
        - simplicité du langage : facilités d'écriture et d'affichage, apporte beaucoup de fonctionnalités
        - Absence de PHP au sein de nos affichages, permet d'abstraires les affichages des balises PHP
        - Plus simple pour un intégrateur

        {{ }} --> double accolade, c'est ce qu'on appelle l'interpolation (ex: affichage d'une variable, exécution fonction twig)
        {% %} --> commande TWIG (ex: boucle, condition etc...)
    #}

    {# title: varaible TWIG qui provient du controller 'BlogController' de la méthode 'home()' définit dans les paramètres de la méthode de rendu 'render()'
    #}
    <h2>{{title}}</h2>

    {# age: variable TWIG qui provient du controller 'BlogController' de la méthode 'home()' définit dans les paramètres de la méthode de rendu 'render()'
    #}
    {#          25 #}
    {% if age > 18 %}
        <p> Tu es majeur! </p>
    {% else %}
        <p> Tu es mineur!</p>
    {% endif %}

{% endblock %}

