{% extends 'base.html.twig' %}
{# extends permet d'hériter de tous les blocks définis dans le gabarit de base 'base.html.twig' #}

{# Le block 'body' fait référence au block 'body' déclaré dans le dans le fichier  'base.html.twig' #}

{# Le contenu du bloc 'body' est envoyé dans le bloc 'body' de base.html.twig et l'ensemble est envoyé en réponse sur le navigateur (base + template) #}


{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello ! Bonne semaine! ✅❤</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/Marylise Dupond/OneDrive/Bureau/PERSO/Formation sur le numérique/Ecole WF3/Cours/SYMFONY/demoBlog/src/Controller/BlogController.php'|file_link(0) }}">src/Controller/BlogController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/Marylise Dupond/OneDrive/Bureau/PERSO/Formation sur le numérique/Ecole WF3/Cours/SYMFONY/demoBlog/templates/blog/index.html.twig'|file_link(0) }}">templates/blog/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
